<mat-card class="holder" (click)="navigateToDetails()">
  <div class="min-book-container container-fluid">
    <div class="row">
      <div class="col-12 col-sm-2">
        <span class="book-cover">
          <img class="cover" src="{{smallImageUrl()}}"/>
        </span>
      </div>
      <div class="col-12 col-sm-10">
        <div class="details">
          <span class="result-title"><h4 class="book-title"><span class="results">{{title}}</span></h4></span>
          <div class="author">by {{author}}</div>
          <div class="first-published">{{firstPublished}}</div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
