<mat-card class="holder">
  <div class="min-book-container container-fluid">
    <div class="row">
      <div class="col-12 col-sm-2">
        <span class="book-cover">
          <a href="{{largeImageUrl()}}">
            <img class="cover" src="{{smallImageUrl()}}"/>
          </a>
        </span>
      </div>
      <div class="col-12 col-sm-10">
        <div class="details">
          <span class="result-title"><h4 class="book-title"><a class="results" href="#">{{title}}</a></h4></span>
          <div class="author">by {{author}}</div>
          <div class="first-published">{{firstPublished}}</div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
