<div class="container-fluid">
  <div class="row">
    <div class="col-12 center" *ngIf="currentPage">{{currentPage}} / {{maxPages}}</div>
    <button mat-button class="col-6 arrow" (click)="previousPage()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-button class="col-6 arrow" (click)="nextPage()">
      <mat-icon>chevron_right</mat-icon>
    </button>
      <app-book-min class="col-12 col-lg-6" *ngFor="let book of books" [title]="book.title_suggest" [img]="book.cover_i"
                    [author]="book.author_name" [firstPublished]="book.first_publish_year"></app-book-min>
  </div>
</div>
